<!DOCTYPE html>
<html>

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <%- include('../partials/nav') %>
    <div class="container mb-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb p-1 pl-2 pr-2">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/board">Board</a></li>
                <li class="breadcrumb-item"><a href="/board/<%= post.id %>"><%= post.title %></a></li>
                <li class="breadcrumb-item active" aria-current="page">Edit Post</li>
            </ol>
        </nav>

        <form>
            <div class="form-group">
                <label for="title">제목</label>
                <input class="form-control" name="title" value="<%= post.title %>" type="text">
            </div>
            <div class="form-group">
                <label for="body">내용</label>
                <textarea class="form-control" name="body" rows="5"><%= post.content %></textarea>
            </div>
            <div>
                <a class="btn btn-secondary" href="/board/<%= post.id %><%= getPostQueryString() %>">Back</a>
                <button class="btn btn-secondary" id="update_btn" type="button">Submit</button>
            </div>
        </form>
    </div>

    <script src="/js/post/update.js" defer></script>
</body>

</html>